/* Entire body */
body {
    visibility: hidden;
}

/* Header element */
#header {
    margin: 20px 10px;
}

/* Pargraph element */
#paragraph {
    padding: 10px;
}

/* Button div element */
#button {
    padding: 10px;
}

/* Button element */
#homebutton {
    font-size: 15px;
}