<div [ngClass]="{visibility: list.visibility}" class="list" (dblclick)="toggleExpand(list)"
    (mousedown)="startLongPressTimer($event,list)" (mouseup)="clearLongPressTimer()"
    (mouseleave)="clearLongPressTimer()" [class.expandable]="!expanded">
    <app-error-popup *ngIf="showErrorPopup" 
    [errorMessage]="errorMessages" 
    [currentUser]="currentUser"
    (closePopup)="onClosePopup()"
    (deleteList)="emitDelete(list)"
    ></app-error-popup>
    <div>
        <div *ngIf="listType=='public'">
            <h3>{{"List-name: " +list["list-name"]}} - Last Modified: {{formattedDateTime}}</h3>
            <p>Nickname: {{ list.username }} - Number of superheroes: {{list.superhero_ids.length}} - Average
                rating: {{list.rating}} </p>
        </div>
        <div *ngIf="listType=='private'">
            <h3>{{"List-name: " +list["list-name"]}} <fa-icon (click)="onDelete()" [ngStyle]="{'color': 'red'}"
                    [icon]="faTimes"></fa-icon></h3>
        </div>
        <div *ngIf="expanded" class="search-results">
            <p>{{"Description: " + list.description}}</p>
            <ul class="list">
                <li *ngFor="let superhero of superheroes" class="hero-details" (click)="openSuperheroModal(superhero)">
                    <div *ngIf="listType=='private'">
                        {{ "Superhero Name: " +superhero.name+" - Publisher: "+superhero.Publisher}}
                    </div>
                    <div *ngIf="listType=='public'">
                        <p>Superhero Name: {{ superhero.name }}</p>
                        <p>Publisher: {{ superhero.Publisher }}</p>
                        <p>Powers:</p>
                        <ul class="powers-list">
                            <li *ngFor="let power of superhero.powers">
                                {{ power }}
                            </li>
                        </ul>
                    </div>
                </li>
                <app-superhero-modal *ngIf="selectedSuperhero" [superhero]="selectedSuperhero"
                    (closeModal)="closeSuperheroModal()"></app-superhero-modal>
            </ul>
            <ul class="list" *ngIf="reviews.length>0">
                <h3>Reviews:</h3>
                <li *ngFor="let review of reviews" class="hero-details">
                    <p>Review by: {{review.username}} - Score {{review.rating}}/5</p>
                    <p>Comment: {{review.comment}}</p>
                </li>
            </ul>
            <app-button *ngIf="listType=='private'" text="Edit List"
                (click)="openListModificationModal(list)"></app-button>
            <app-list-modification *ngIf="selectedList" [list]="list" (closeModal)="closeListModificationModal()"
                (onUpdateList)="updateList($event)">
            </app-list-modification>
            <app-button *ngIf="listType=='public' && currentUser" text="Write a Review"
                (click)="openCreateReviewModal(list)"></app-button>
            <app-write-review *ngIf="selectedReview" [list]="list" (closeModal)="closeCreateReviewModal()"
                (onCreateReview)="createReview($event)">
            </app-write-review>
        </div>
    </div>
</div>