.form-control {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3,
h4 {
    color: #333;
}

p {
    margin: 10px 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    height: 36px;
}

#reviewIds{
    max-height: 300px; 
    overflow-y: auto;
    height: 150px;
    
}

/* Style for the lines between options */
#reviewIds option {
    border-bottom: 1px solid #ccc;
    padding: 5px; /* Optional: Add some padding to make it visually appealing */
  }
  
  /* Style for the last option to remove the bottom border */
  #reviewIds option:last-child {
    border-bottom: none;
  }


button:hover {
    background-color: #0056b3;
}

#notes {
    resize: none;
    width: 100%;
    overflow-y: hidden;
}