<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <app-error-popup 
    *ngIf="showErrorPopup" 
    [errorMessage]="errorMessages" 
    [currentUser]="currentUser" 
    (closePopup)="onClosePopup()"></app-error-popup>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" formControlName="newPassword" required>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
        <div *ngIf="resetForm.hasError('mismatch')">
            Passwords do not match.
        </div>
    </div>
    <button type="submit" [disabled]="!resetForm.valid">Reset Password</button>
</form>