footer {
    margin-top: 30px;
    text-align: center;
    position: relative;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.home-button {
    order: 1;
}

.policies {
    order: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Align the new button to the bottom right */
.admin-button {
    order: 3;
}