<form *ngIf="showAddList" class="add-form" [formGroup]="listForm" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="list_name" text>List-name</label>
        <input type="text" formControlName="list_name" id="list_name" placeholder="Enter List-name..." />
        <div *ngIf="listForm.get('list-name')?.hasError('required') && listForm.get('list-name')?.touched" class="error-message">
            List-name is required.
        </div>
    </div>
    <div class="form-control">
        <label for="superhero_ids" text>ID-list</label>
        <input type="text" name="superhero_ids" formControlName="superhero_ids" id="superhero_ids"
            placeholder="Add ID-list..." />
        <div *ngIf="listForm.get('superhero_ids')?.hasError('required') && listForm.get('superhero_ids')?.touched"
            class="error-message">
            ID-list is required.
        </div>
    </div>
    <div class="form-control">
        <label for="description" text>Description</label>
        <textarea rows="4" maxlength="284" type="text" formControlName="description" id="description" placeholder="Add description..."></textarea>
    </div>
    <div class="form-control form-control-check">
        <label for="visibility" text>Set Public</label>
        <input type="checkbox" formControlName="visibility" id="visibility" placeholder="Set visibility..." />
    </div>
    <input type="submit" value="Add List" class="btn btn-block" />
</form>